@font-face {
    font-family: 'TeXGyreHeros';
    src: url('TeXGyreHeros-Bold.woff2') format('woff2'),
        url('TeXGyreHeros-Bold.woff') format('woff'),
        url('TeXGyreHeros-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TeXGyreHeros';
    src: url('TeXGyreHeros-Regular.woff2') format('woff2'),
        url('TeXGyreHeros-Regular.woff') format('woff'),
        url('TeXGyreHeros-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TeXGyreHeros';
    src: url('TeXGyreHeros-Italic.woff2') format('woff2'),
        url('TeXGyreHeros-Italic.woff') format('woff'),
        url('TeXGyreHeros-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TeXGyreHeros';
    src: url('TeXGyreHeros-BoldItalic.woff2') format('woff2'),
        url('TeXGyreHeros-BoldItalic.woff') format('woff'),
        url('TeXGyreHeros-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

